<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notes</title>

    <link rel="icon" type="image/png" th:href="@{/images/icons/icon1.png}"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/simple-sidebar.css}" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/n8be1i88k3oymaid9d7qwpw4kkqzl2v4251z6kisrkkmniqt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Notes App </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Your Notes</a>
            <a href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="/shortcuts" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/notes">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/groups">Groups</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <p class="successMessage" th:if="${successMessage != null}" th:text="${successMessage}"></p>
            <center><h1 class="mt-4">Would you like to add a new one?</h1></center>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <form action="/addNote" method="POST">
                            <div class="card new-card" style="width: 18rem;">
                                <div class="card-body new">
                                    <input class="new-input" type="text" name="title" placeholder="Note Title..." required="true">
                                    <input placeholder="Due date" class="new-input textbox-n" name="due" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                                    <input type="text" name="category" list="category-list" placeholder="Select a category..." class="new-input" autocomplete="off">
                                    <datalist id="category-list">
                                        <option th:if="${#lists.size(categories) != 0}" th:each="category : ${categories}" th:value="${category}">
                                    </datalist>
                                    <textarea id="new-text" class="new-input" name="text" placeholder="Note Text..." cols="25" rows="5"></textarea>
                                    <button type="submit" class="new-note-button btn btn-dark">Add New Note</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <center><h1 class="mt-4">Your Notes</h1></center>
            <p th:if="${#lists.size(notes) == 0}" th:text="${'No available notes. Please add a new note.'}"></p>
            <div>
                <form action="/notes" class="filter">
                    <h5>Filter by</h5>
                    <select id="category-filter" name="filter">
                        <option th:if="${#lists.size(categories) != 0}" th:each="category : ${categories}" th:name="${category}" th:text="${category}">
                        <option value="">No filter</option>
                    </select>
                    <button type="submit" class="filter-button btn btn-danger">Apply filters</button>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4" th:each="note : ${notes}">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${note.title}"></h5>
                                <p class="card-text" th:utext="${note.text}"></p>
                                <form action="/deleteNote" method="post">
                                    <input type="text" name="id" hidden th:value="${note.id}">
                                    <button type="submit" class="btn btn-primary">Delete Note</button>
                                </form>
                                <button type="button" class="btn btn-success share-button" data-toggle="modal" data-target="#shareNotesModal">Share Note</button>
                                <h5 class="card-category"  th:utext="'#' + ${note.category}"></h5>
                                <h6 class="card-due"  th:utext="'Until: ' + ${note.dueDate}"></h6>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<!-- Modal -->
<div class="modal fade" id="shareNotesModal" tabindex="-1" role="dialog" aria-labelledby="shareNotesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareNotesModalLabel">Share note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/shareNote" method="post">
                <div class="modal-body">
                    <input id="shareId" type="text" hidden name="id">
                    <input type="email" name="shareEmail" required placeholder="Email...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Share</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    tinymce.init({
        selector: '#new-text',
        forced_root_block : '',
        force_br_newlines : true,
        force_p_newlines : false
    });

    // Share button
    $(".share-button").on('click', function(e) {
        let parent = $(e.target).parent();
        let noteIdInput = parent.find($("input[name='id']"));
        let noteId = $(noteIdInput).val();
        $("#shareId").val(noteId);
    });

</script>

<script th:src="@{js/checkShortcuts.js}"></script>

</body>

</html>
